<!DOCTYPE html>
<html lang="zh">
<head>
    <title>关于 - 泛涵</title>
    {{> headmeta}}
    {{> analytics}}
    {{> styles}}
    {{> scripts }}
</head>
<body class="about-page">
<div>
    <main>
        <div class="react">
            呀啊啊
            <fx-hover-link name="链接">链接</fx-hover-link>
            新消息
        </div>
        <div class="react">
            呀啊啊
            <span id="test-link">链接</span>
            新消息
        </div>
        <div class="svelte">
            呀啊啊
            <fx-card name="链接4">链接4</fx-card>
            哈哈哈
            <fx-card name="链接4">链接4</fx-card>
            新消息
        </div>
    </main>
    {{> footer }}
</div>
{{> footer }}
</body>
</html>