<!DOCTYPE html>
<html lang="zh">
<head>
    <title>出错了 - 泛涵</title>
    {{> headmeta}}
    {{> analytics}}
    {{> styles}}
    {{> scripts }}
</head>
<body class="about-page">
<div>
    <main>
        <div>
            这个是友好错误提示页面
        </div>
    </main>
    {{> footer }}
</div>
{{> footer }}
</body>
</html>